@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  @apply bg-white h-full w-full m-0 p-0;
}

/* Project 1: Float Nav Menu */
.bottomNav {
  @apply fixed right-12 bottom-12 h-14 w-0 translate-x-[50%] duration-500 bg-gray-100 p-3 rounded-md transition-[width,right] delay-[1s,2.5s];
}

.control-btn {
  @apply absolute bg-cyan-600 h-16 w-16 top-[50%] left-[50%] cursor-pointer duration-300
    translate-x-[-50%] translate-y-[-50%] flex flex-col items-center justify-center 
    rounded-full;
}

.bottomNav:has(#check:checked) {
  @apply right-[50%] translate-x-[50%] w-96 transition-[width,right] delay-[1s,0s] duration-500;
}
.icon-plus {
  @apply duration-300 delay-[2s];
}
#check:checked + .icon-plus {
  @apply -rotate-[135deg] delay-[2s];
}

.control-btn:has(#check:checked) {
  @apply top-0 delay-[3s] bg-rose-500 shadow-lg shadow-red-500;
}
.menu-icon {
  @apply cursor-pointer hover:-translate-y-1 hover:scale-110;
}

.tct-block {
  position: absolute;
  margin: 0;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.tct-grow {
  position: relative;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #6efb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  animation: tct-background-animation 20s linear infinite;
}
@keyframes tct-background-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.tct-button-shadow {
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
